<app-card
  [serviceType]="'login'"
  [methods]="[
    {
      name: 'login',
      params: { username: 'user1', password: 'pass1' },
      alias: 'login'
    },
    { name: 'getUsers', params: {}, alias: 'get all users' }
  ]"
></app-card>

<app-card
  [serviceType]="'usn'"
  [methods]="[
    {
      name: 'getAllUsn',
      params: {},
      alias: 'get all usn'
    },
    {
      name: 'getUsnInfoByUuid',
      params: { id: '74fa9ae0-e6d4-11ee-9a52-63eb4102b574' },
      alias: 'get usn info'
    },
    {
      name: 'getAllUsnTelemetryByUuid',
      params: { id: '74fa9ae0-e6d4-11ee-9a52-63eb4102b574' },
      alias: 'get all usn'
    },
    {
      name: 'getUsnByUuidAndKey',
      params: { id: '74fa9ae0-e6d4-11ee-9a52-63eb4102b574', key: 'attribute1' },
      alias: 'get usn'
    },
    {
      name: 'postUsnByUuid',
      params: { id: '74fa9ae0-e6d4-11ee-9a52-63eb4102b574' },
      alias: 'post usn'
    }
  ]"
></app-card>

<app-card
  [serviceType]="'rpc'"
  [methods]="[
    {
      name: 'rpcRequest',
      params: {
        id: '74fa9ae0-e6d4-11ee-9a52-63eb4102b574',
        callType: 'test',
        requestBody: {}
      },
      alias: ' rpc request'
    }
  ]"
></app-card>

<router-outlet></router-outlet>
